/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}

/* header */
header,
section{
    overflow-x: hidden;
}

header a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color:whitesmoke;
    font-weight: bold;
}

header{
    background: #FFA500;
}

header .nav-item:last-child{
    padding-right: 2em;
}

header .nav-item {
    padding: 1em;
}

/* main section */

.cover {
    width: 100%;
    height: 86vmin;
    background: url("../assets/cloud.jpg");
    background-position: -20rem -15rem;
    background-size: 150%;
    position: relative;
}

.cover .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    padding-top: 15vmin;
}

.cover .content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 5rem;
}

.text .rect {
    position: relative;
    z-index: 1;
    width: 30rem;
    height: 20rem;
    margin: 1rem;
}

.text {
    margin-top: -65vmin;
}

.text .rect h4{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
}

.text .rect p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

@media only screen and (max-width: 768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .cover{
        background-position: -20vmin -10vmin;
        height: 90.5vmin;
    }
    .cover .content h2 {
        font-size: 4vmin;
    }
    .text {
        margin-top: -70vmin;
    }
    .text .rect {
        width:21rem;
        height: 10rem;
    }
    .text .rect h4{
        font-size: 3vmin;
    }
    .text .rect p{
        font-size: 2.5vmin;
    }
}

@media only screen and (max-width: 425px){
    .cover{
        background-position:-25vmin -20vmin;
        height: 129.5vmin;
    }
    .cover .content h2 {
        font-size: 3vmin;
        margin-right: 75px;
    }
    .text {
        margin-top: -112vmin;
    }
    .text .rect {
        width:15rem;
        height: 10rem;
    }
    .text .rect h4{
        font-size: 3vmin;
    }
    .text .rect p{
        font-size: 2.5vmin;
    }
}

@media only screen and (max-width: 375px){
    .cover{
        background-position:-25vmin -10vmin;
        height: 147vmin;
    }
    .text {
        margin-top: -125vmin;
    }
}
@media only screen and (max-width: 320px){
    .cover{
        background-position:-25vmin -10vmin;
        height: 550px;
    }
    .text {
        margin-top: -155vmin;
    }
}
