/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}

/* header */
header,
section{
    overflow-x: hidden;
}

header a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color:whitesmoke;
    font-weight: bold;
}

header{
    background: #FFA500;
}

header .nav-item:last-child{
    padding-right: 2em;
}

header .nav-item {
    padding: 1em;
}

/* main section */

.cover {
    width: 100%;
    height: 86vmin;
    background: url("../assets/cloud.jpg");
    background-position: -20rem -15rem;
    background-size: 150%;
    position: relative;
}

.cover .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    padding-top: 30vmin;
}

.cover .content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 3rem;
}

.text .rect {
    position: relative;
    z-index: 1;
    width: 17rem;
    height: 12rem;
    padding-top: 8vmin;
    margin: 0.5rem;
}

.text {
    margin-top: -55vmin;
}

.text .rect p1{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
    margin-right: 7rem;
}

.text .rect p2{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: whitesmoke;
    margin-right: 7rem;
}

@media only screen and (max-width: 768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .cover{
        background-position: -25rem -5rem;
        height: 100vmin;
    }
    .cover .content h2{
        font-size: 4vmin;
    }
    .text .rect{
        width: 10rem;
        height: 8rem;
        margin-top: -80px;
        margin-left: 30px;    
    }
    .text .rect p1{
        font-size: 3.5vmin;
    }
    .text .rect p2{
        font-size: 3vmin;
    }
}

@media only screen and (max-width:425px){
    .cover{
        background-position: -5rem 20rem;
        height: 130vmin;
    }
    .text .rect{
        width: 4rem;
        height: 8rem;
        margin-top:-180px;
    }
}

@media only screen and (max-width:375px){
    .cover{
        height:145vmin;
    }
    .text .rect{
        width: 3rem;
        height: 8rem;
        margin-top:-200px;
    }
}

@media only screen and (max-width:320px){
    .cover{
        height: 170vmin;
    }
    .text .rect{
        width: 2rem;
        height: 8rem;
        margin-top: -275px;
    }
}