/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}

/* header */
header,
section{
    overflow-x: hidden;
}

header a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color:whitesmoke;
    font-weight: bold;
}

header{
    background: #FFA500;
}

.cover {
    width: 100%;
    height: 91.5vmin;
    background: url("../assets/cloud.jpg");
    background-position: -20rem -15rem;
    background-size: 150%;
    position: relative;
}

.cover .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    padding-top: 15vmin;
}

.cover .content h2{
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 5rem;
}

.cover .content p{
    font-family: 'Poppins', sans-serif;
    font-size: 3vmin;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 5rem;
}

.container {
    width: 100%;
    height: 25%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 25rem;
}

.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,5);
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}

.card-register{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/aestetic.png");
    padding: 60px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-register h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.garis{
    margin-top: 10px;
    width: 100%;
    background-color: #FFA500;
}

.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing:border-box;
    outline: none;
    text-align: center;
    background-color: #fff;
}

::placeholder{
    color: #2E393C;
    font-size: 12px;
}

button{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 10px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    background-color: #FFA500;
    cursor: pointer;
}

button a{
    color: whitesmoke;
}

.signup-btn:hover{background :black;color :white; }

@media only screen and (max-width: 768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .cover{
        background-position: -25rem -5rem;
    }
    .cover .content h2 {
        font-size: 3vmin;
    }
    .cover .content p {
        font-size: 2vmin;
    }
    .container {
        width: 100%;
        height: 25%;
        margin-top: 60px;
        margin-left: 150px;
    }   
}

@media only screen and (max-width: 425px){
    .cover{
        background-position: -5rem 20rem;
        height: 130vmin;
    }
    .container {
        width: 100%;
        height:20%;
        margin-top: 110px;
        margin-left:10px;
    }   
}

@media only screen and (max-width:375px){
    .cover{
        height: 147vmin;
    }
    .container {
        margin-top: 120px;
        margin-left:5px;
    }   
}

@media only screen and (max-width:320px){
    .cover{
        height: 170vmin;
    }
    .container {
        margin-top: 125px;
    }
}